table{
    border-collapse: collapse;
    font-family: Arial;
}
th {
    padding: 10px;
}
td{
    padding: 10px;
    text-align: center;
border: 1px solid black;
}
.cn{
    background-color: red;
    border:1px solid white;
    color: white;
}
.t7{
    background-color: blue;
    border:1px solid white;
    color: white;
}
.t23456{
    background-color: gold;
    border:1px solid white;
    color: white;
}
.red{
    color: red;
}
.blu{
    color: blue;
}
.sn26{
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}